#map {
    height: 600px;
    width: 70%;
    margin: 20px auto;
    border: 5px solid #5e8f90;
    border-radius: 10px;
}

.header-image {
    display: block;
    margin: 0 auto;
    max-width: 60%;
    height: auto;
}

.centered {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center; 
    flex-direction: row; 
    align-items: center;
}

.btn {
    padding: 10px 20px;
    text-decoration: none; 
    color: white;
    background-color: #ed8f67; 
    border-radius: 5px; 
    border: none; 
    font-size: 16px;
    cursor: pointer; 
    transition: background-color 0.3s; 
    margin-right: 10px; 
}

.btn:last-child {
    margin-right: 0; 
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a2cacc;
    color: #5e8f90;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-family: 'Lora', serif;
    color: #ffffff;
}

h2 {
    margin-bottom: 20px;
}

footer {
    background-color: rgba(94, 143, 144, 0.647);
    color: #fff;
    padding: 30px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.footer-section {
    flex: 1;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-section p {
    font-size: 14px;
}

.footer-section ul {
    list-style-type: none;
    padding: 20;
}

.footer-section ul li {
    margin-bottom: 20px;
    padding: 20;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

/* Media query pour les écrans de taille maximale de 768px */
@media screen and (max-width: 768px) {
    .button-container {
        width: 100%; /* Ajustement de la largeur */
    }
}
